{% extends "base.html" %}

{% block content %}

<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">View Attendance</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="">Attendance</a></li>
                    <li class="breadcrumb-item active">View Attendance</li>
                </ul>
            </div>
        </div>
    </div>

    {% include "includes/message.html" %}

    {% if action is None %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form action="?action=view_students" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>Attendance Information</span></h5>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Subject Name</label>
                                    <select class="form-control" name="subject_id" required>
                                        <option value="">Select Subject</option>
                                        {% for i in subjectName %}
                                        <option value="{{i.id}}">{{i.name}}</option>
                                        {% empty %}
                                        <option value="">Not Subject Availabel</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Session Year</label>
                                    <select class="form-control" name="session_id" required>
                                        <option value="">Select Session Year</option>
                                        {% for i in sessionYear %}
                                        <option value="{{i.id}}">{{i.startSession}} To {{i.endSession}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Date</label>
                                    <input type="date" class="form-control" name="attendance_date" required>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">View Students</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% else %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form action="?action=view_students" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>Attendance Details</span></h5>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Subject Name</label>
                                    <select class="form-control" name="subject_id" disabled>
                                        <option value="{{getSubject.id}}">{{getSubject}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Session Year</label>
                                    <select class="form-control" name="session_id" disabled>
                                        <option value="{{getsession.id}}">{{getsession}} </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Date</label>
                                    <input type="date" class="form-control" name="attendance_date"
                                        value="{{attendanceDate}}" disabled>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card card-table">
                                            <div class="card-body">
                                                <h3 class="text-center">Students Lists</h3>
                                                <div class="table-responsive">
                                                    <div id="DataTables_Table_0_wrapper"
                                                        class="dataTables_wrapper dt-bootstrap4 no-footer">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <table id="table_id"
                                                                    class="table table-hover table-center mb-0  dataTable no-footer"
                                                                    id="DataTables_Table_0" role="grid"
                                                                    aria-describedby="DataTables_Table_0_info">
                                                                    <thead>
                                                                        <tr role="row">
                                                                            <th class="sorting_asc" tabindex="0"
                                                                                aria-controls="DataTables_Table_0"
                                                                                rowspan="1" colspan="1"
                                                                                aria-sort="ascending"
                                                                                aria-label="ID: activate to sort column descending"
                                                                                style="width: 87.125px;">Sr.No</th>
                                                                            <th class="sorting" tabindex="0"
                                                                                aria-controls="DataTables_Table_0"
                                                                                rowspan="1" colspan="1"
                                                                                aria-label="Name: activate to sort column ascending"
                                                                                style="width: 150.3px;">Name</th>
                                                                            <th class="sorting" tabindex="0"
                                                                                aria-controls="DataTables_Table_0"
                                                                                rowspan="1" colspan="1"
                                                                                aria-label="HOD: activate to sort column ascending"
                                                                                style="width: 101.925px;">Email</th>
                                                                        </tr>
                                                                    </thead>

                                                                    <tbody>

                                                                        {% for i in presentStudent %}

                                                                        <tr role="row" class="odd">
                                                                            <td class="sorting_1">{{forloop.counter}}
                                                                            </td>
                                                                            <td> {{i.student_id}} </td>
                                                                            <td class="sorting_1">
                                                                                {{i.student_id.admin.email}}</td>
                                                                        </tr>

                                                                        {% endfor %}

                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% endif %}
</div>

{% endblock content %}